<div class="home-news-content py-4 px-2 py-sm-5 px-sm-0 mt-ncs mb-4">
    <div class="container">
        <div class="d-flex flex-wrap">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="display-6">KNBS Digital Repository</h1>
                    <ds-search-form [inPlaceSearch]="false"
                        [searchPlaceholder]="'home.search-form.placeholder' | translate">
                    </ds-search-form>
                    <p class="lead">
                        The authoritative digital platform for preserving, publishing and providing access to Kenya’s
                        official statistics, research outputs and geospatial data.
                    </p>
                </div>
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of the card's content.</p>
                            <div class="d-flex justify-content-end">
                                <a href="#" class="btn btn-primary">Go</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p>

        </p>
    </div>
</div>