// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';

:root {
    --knbs-brown: #b06443;
    --knbs-light-brown: #f7efec;
    --knbs-gray: #e9ecef;
}

.bg-light-brown {
    background-color: var(--knbs-light-brown) !important;
}

.knbs-bg-gray {
    background-color: var(--knbs-gray) !important;
}

.knbs-bg-light-brown {
    background-color: var(--knbs-light-brown) !important;
}

.knbs-text-brown {
    color: var(--knbs-brown) !important;
}

.bg-brown {
    background-color: var(--knbs-brown) !important;
}

.btn-primary {
    background-color: var(--knbs-brown) !important;
    border-color: var(--knbs-brown) !important;
    color: #fff !important;
}

.form-login .btn-primary {
    background-color: var(--knbs-light-brown) !important;
    border-color: var(--knbs-light-brown) !important;
    color: #000 !important;
}

.bg-info {
    background-color: var(--knbs-brown) !important;
}

.dropdown-toggle,
.submit-icon {
    color: #000 !important;
}

.home-news-content>.container .card .row {
    background-image: url("/assets/knbs/images/fair.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    margin-right: 0px !important;
    margin-left: 0px !important;
}

div#header-navbar-wrapper {
    border-bottom: 1px var(--knbs-brown) solid !important;
}

#header-navbar-wrapper nav {
    background-color: var(--knbs-brown) !important;
}

#header-navbar-wrapper a i {
    color: white !important;
}

#header-navbar-wrapper .dropdown-menu {
    background-color: var(--knbs-brown) !important;
}

#main-navbar .ds-menu-item {
    color: white !important;
}

.home-news-content {

    h1 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }

}

.nav-breadcrumb,
.breadcrumb {
    background-color: var(--knbs-light-brown) !important;
}

li.breadcrumb-item a {
    color: #000 !important;
}

.top-level-communities a {
    color: #000 !important;
}

.top-level-communities span a {
    color: #fff !important;
}

.recent-items .item-list-title {
    color: #000 !important;
    font-weight: bold !important;
}