// Add any global css for the theme here

// imports the base global style
@import '../../../styles/_global-styles.scss';

:root {
    --knbs-brown: #b06443;
    --knbs-light-brown: #f7efec;
}

.bg-light-brown {
    background-color: var(--knbs-light-brown) !important;
}

.btn-primary {
    background-color: var(--knbs-brown) !important;
    border-color: var(--knbs-brown) !important;
    color: #fff !important;
}

.home-news-content>.container .card .row {
    background-image: url("/assets/knbs/images/fair.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;

    margin-right: 0px !important;
    margin-left: 0px !important;
}

div#header-navbar-wrapper {
    border-bottom: 1px var(--knbs-brown) solid !important;
}

#header-navbar-wrapper nav {
    background-color: var(--knbs-brown) !important;
}

#main-navbar .ds-menu-item {
    color: white !important;
}

.home-news-content {

    h1 {
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
        // color: #fff !important;
    }

    // .container p {
    //     color: #fff !important;
    // }
}

.nav-breadcrumb,
.breadcrumb {
    background-color: var(--knbs-light-brown) !important;
}

li.breadcrumb-item a {
    color: #000 !important;
}